* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    /* background-color: #1e1e1e00; */
    background-color: rgba(245, 248, 255, 1.000);
    width: 100%;
}

/* shared style */

.orange-font-color {
    color: #E95A08;
}

.orange-bg-color {
    background-color: #E95A08;
}

nav {
    max-width: 1140px;

    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.logo {
    max-width: 135px;

}

.logo img {
    max-width: 100%;
}

.menu-ctr {
    display: flex;
    gap: 60px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-family: "Inter", sans-serif;


}

.menu ul li a {
    text-decoration: none;
    color: #8987A1;
}

/* .menu li:nth-child(2) {
    color: rgb(247, 8, 8);
} */

#active-link {
    color: #252432;
    font-weight: bold;
}

/* banner section */
#banner {
    max-width: 1140px;

    margin: auto;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;


}

.right-image {
    width: 50%;
}

.right-image img {
    width: 100%;
}

.left-text {
    width: 50%;
}

.main-heading {
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: bold;

}

.main-heading span {
    color: #E95A08;
}

.sub-heading {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #0000007a;
}

/* our plants section */
.our-plants {

    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;

}

.our-plants-header {
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    text-align: center;
}

.our-plants-sub-header {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #0000007a;
    text-align: center;
    margin-top: 16px;
    margin-left: 125px;
    margin-right: 125px;
}

/* card section */

#card-wrapper {
    /* background-color: #E95A08; */
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1vw;
    row-gap: 1vh;
    margin-top: 50px;
}

.flower-card {
    text-align: center;
    /* background-color: #8987A1; */

    justify-content: center;


}

.card-image img {
    max-width: 100%;
}

.flower-name {
    font-size: 22px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #111111;
    padding-top: 30px;
}

.frower-price {
    font-family: "Inter", sans-serif;
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
}

.add-to-cart-btn {
    background-color: #E95A08;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 50px;


    border: none;
    max-width: 270px;
    width: 100%;


    padding: 10px 26px;
}

.add-to-cart-btn:hover {
    background-color: #e95a08af;

}

/* plant lover section */
.plant-lovers-image {
    width: 50%;


}

.plant-lovers {
    display: flex;
    max-width: 1140px;
    margin: auto;
    /* background-color: aqua; */
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plant-lovers-right-text-heading {
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.plant-lovers-right-text {
    padding-left: 60px;
    padding-right: 10px;

}

.plant-lovers-right-text-bullets {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: #00000077;

}

.plant-lovers-right-text-bullets li {
    margin-top: 15px;
}

.plant-lovers-badge img {
    position: absolute;
    top: -5%;
    right: 45%;

    width: 286px;
    z-index: 1;
}

/* latest deal section */

.latest-deal {
    margin: auto;
    margin-top: 130px;
    margin-bottom: 16px;


    max-width: 1140px;
    text-align: center;
}

.latest-deal-heading {
    font-size: 50px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}

.latest-deal-sub-heading {
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #00000080;

}


.latest-deal-images {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    /* 
    align-items: center; */

    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 115px;

}

.left-part {
    width: 33%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;

}

.right-part {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5%;



}

.latest-deal-images-1-ctr {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    background: url("../images/1deal-bloom.png") no-repeat center;
    background-size: cover;
}

.latest-deal-images-2-ctr {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
    background: url("../images/2deal-ana.png") no-repeat center;
    background-size: cover;
}

.latest-deal-images-3-ctr {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    background: url("../images/3deal-zabo.png") no-repeat center;
    background-size: cover;



}

.latest-deal-images-1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #0000007d, #0000007d);




}

.latest-deal-images-2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #0000007d, #0000007d);
}



.latest-deal-images-3 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #0000007d, #0000007d);



}

.latest-deal-images-header {
    font-family: "Noto Serif", serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;


}

.latest-deal-images-sub-header {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: underline;



}

.latest-deal-images-header-right {
    font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    justify-content: center;


}

.latest-deal-images-sub-header-right {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: underline;



}

/* join-us section */
.join-us-ctr {
    max-width: 100vw;
    background: url("../images/news-letter-bg.png") no-repeat center;
    background-size: cover;
    height: 168vh;



    /*  */
}

.join-us {
    max-width: 100%;
    display: flex;
    height: 168vh;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    background-image: linear-gradient(to bottom, #07334f8c, #07334f8c);
}

.join-ctr {
    width: 78%;
    display: flex;
    margin-top: 23px;
    height: 140px;






}

.email-join {
    width: 100%;



}



.subscription-btn {
    width: 185px;

    padding: 15px;
    border: none;



    background-color: #E95A08;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;

}

.input-email {
    width: 100%;
    padding: 15px;
    border: none;
    flex: 1;
}

/* footer-section */
.footer-ctr {
    max-width: 1120px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.footer-p1 {
    width: 25%;
}

.footer-p1-sub-heading {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: #00000076;
}

.footer-p2 {
    width: 20%;


}

.footer-p2 li {
    list-style: none;
    line-height: 30px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #00000076;
}

.footer-p3 {
    list-style: none;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #00000076;
    width: 20%;
}

.footer-p3 li {
    list-style: none;
    line-height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #00000076;
}

.social-media-ctr {
    display: flex;
    align-items: start;
}

.logos-ctr {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 767px) {


    .menu-ctr {
        display: none;

    }

    nav {
        padding: 3vw;
    }

    .logo {
        max-width: 135px;

    }

    .logo img {
        max-width: 70%;
    }


    #banner {
        margin: 0px;
        padding: 0px;
        flex-direction: column-reverse;

    }

    .right-image {
        width: 100%;
    }



    .left-text {
        width: 100%;
    }

    .main-heading {
        font-family: "Noto Serif", serif;
        font-size: 24px;
        font-weight: bold;

        padding: 15px;

    }



    .sub-heading {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #0000007a;
        text-align: left;
        padding: 15px;
    }

    .our-plants {


        margin-top: 40px;

    }

    .our-plants-header {
        font-size: 24px;

    }

    .our-plants-sub-header {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #0000007a;
        padding: 15px;
        text-align: left;
        margin: 0px;


    }

    #card-wrapper {

        max-width: 97vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2vw;
        margin-left: auto;
        margin-right: auto;
        row-gap: 2vh;
        margin-top: 28px;

    }

    .flower-name {
        font-size: 16px;
    }

    .frower-price {

        font-size: 16px;
    }

    /* plant lover section */
    .plant-lovers-image {
        width: 100%;


    }

    .plant-lovers {
        display: flex;
        max-width: 100vw;

        /* background-color: aqua; */
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .plant-lovers-right-text-heading {

        font-size: 24px;

        margin-top: 3vh;
        /* margin-left: -8vw; */

    }

    .plant-lovers-right-text {
        /* padding-left: 60px;
        padding-right: 10px; */
        padding-left: 2vw;
        text-align: left;

    }

    .plant-lovers-right-text-bullets {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #00000077;
        padding-left: 9vw;

    }

    .plant-lovers-right-text-bullets li {
        margin-top: 15px;
    }

    .plant-lovers-badge img {
        display: none;
    }

    .plant-lovers-image img {
        width: 100%;
    }


    /* --------------- */

    /* latest deal section */

    .latest-deal {
        margin: auto;
        margin-top: 80px;
        max-width: 97vw;
        text-align: center;

    }

    .latest-deal-heading {
        font-size: 24px;


    }

    .latest-deal-sub-heading {


        font-size: 14px;
        padding: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;



    }


    .latest-deal-images {
        margin-top: 50px;
        flex-direction: column;

    }

    .left-part {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 0px;
        padding: 2vw;
        padding-bottom: 0px;

    }

    .right-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vw;
    }

    .latest-deal-images-1-ctr {
        max-width: 100%;
        height: 200px;
        border-radius: 10px;
        background: url("../images/1deal-bloom.png") no-repeat center;
        background-size: cover;
        margin-top: 2vh;

    }

    .latest-deal-images-2-ctr {
        max-width: 100%;
        height: 200px;
        border-radius: 10px;
        background: url("../images/2deal-ana.png") no-repeat center;
        background-size: cover;
        margin-top: 2vh;

    }

    .latest-deal-images-3-ctr {
        max-width: 100%;
        height: 70vh;
        margin-top: 0px;
        padding-top: 0px;

        background-size: cover;




    }

    .latest-deal-images-1 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #0000007d, #0000007d);




    }

    .latest-deal-images-2 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #0000007d, #0000007d);
    }



    .latest-deal-images-3 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #0000007d, #0000007d);



    }

    .latest-deal-images-header {
        font-family: "Noto Serif", serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;


    }

    .latest-deal-images-sub-header {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-align: center;
        justify-content: center;
        text-decoration: underline;



    }

    .latest-deal-images-header-right {
        font-family: "Noto Serif", serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center;
        justify-content: center;


    }

    .latest-deal-images-sub-header-right {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: white;
        text-align: center;
        justify-content: center;
        text-decoration: underline;



    }

    /* join-us section */
    .join-us-ctr {
        max-width: 100vw;
        background: url("../images/news-letter-bg.png") no-repeat center;
        background-size: cover;

        height: 100vh;

        margin-top: 50px;


        /*  */
    }



    .join-us {
        max-width: 100%;
        display: flex;
        height: 100vh;


        flex-direction: column;
        background-image: linear-gradient(to bottom, #07334f8c, #07334f8c);
        justify-content: center;
        align-items: center;
        padding-top: 20%;
    }

    .join-ctr {
        width: 80%;
        display: flex;
        margin-top: 23px;
        height: 140px;







    }

    .email-join {
        width: 80%;



    }



    .subscription-btn {
        width: 100%;

        padding: 15px;
        border: none;



        background-color: #E95A08;
        color: #FFFFFF;
        font-family: "Inter", sans-serif;

    }

    .input-email {
        width: 100%;
        padding: 15px;
        border: none;
        flex: 1;
    }

    /* footer-section */
    .footer-ctr {
        max-width: 97vw;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vw;

    }

    .footer-p1 {
        width: 100%;
    }

    .footer-p1-sub-heading {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        color: #00000076;
    }

    .footer-p2 {
        width: 100%;
        margin-top: 2vh;


    }

    .footer-p2 li {
        list-style: none;
        line-height: 40px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #00000076;
    }

    .footer-p3 {
        list-style: none;
        line-height: 40px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #00000076;
        width: 20%;
    }

    .footer-p3 li {
        list-style: none;
        line-height: 40px;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        color: #00000076;
    }

    .social-media-ctr {
        display: flex;
        align-items: start;
    }

    .logos-ctr {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 20px;
    }